:root{
    --verde-escuro: #1c4d1c;
    --preto: #000000;
    --verde: #458544;
    --verdinho: #a7e1a6;
}
.cabecalho{
    background-color: #458544;
    display: flex;
    justify-content: space-between;
}

.menu-item{
    display: inline-block;
    padding: 5px;
    color: #000000 ;
}


.logo{
    width: 10%; 
    margin: 10px;
}